.bibtexify-authors li {
  display:none !important;
}

.bibtexify-authors li:nth-child(-n+2) {
  display: inline !important;
}

.bibtexify-authors .bibtexify-author-etal:before {
  content: ", et al." !important;
}
